<a href="https://colab.research.google.com/github/chetan-27656/python-files/blob/main/task_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def find_discount(qty):
    if qty <= 10:
        return 0
    elif 11 <= qty <= 20:
        return 15
    else:
        return 20
def buy():
    ICode = int(input("Enter Item Code: "))
    Item = input("Enter Item Name: ")
    Price = float(input("Enter Price: "))
    Qty = int(input("Enter Quantity: "))
    Discount = find_discount(Qty)
    Netprice = Price * Qty - Discount
    return ICode, Item, Price, Qty, Discount, Netprice
def show_all(ICode, Item, Price, Qty, Discount, Netprice):
    print("Item Code:", ICode)
    print("Item:", Item)
    print("Price:", Price)
    print("Quantity:", Qty)
    print("Discount:", Discount)
    print("Net Price:", Netprice)
ICode, Item, Price, Qty, Discount, Netprice = buy()
show_all(ICode, Item, Price, Qty, Discount, Netprice)

Enter Item Code: 122
Enter Item Name: brinjal
Enter Price: 15
Enter Quantity: 15
Item Code: 122
Item: brinjal
Price: 15.0
Quantity: 15
Discount: 15
Net Price: 210.0

In [4]:
def cube_product_of_natural_numbers(n):
 product = 1
 for i in range(1, n + 1):
    product *= i ** 3
 return product
# Get input from the user
n = int(input("Enter the value of N: "))
# Calculate the cube product
result = cube_product_of_natural_numbers(n)
# Output the result
print("Cube product of the first", n, "natural numbers is:", result)

Enter the value of N: 3
Cube product of the first 3 natural numbers is: 216

In [5]:
def func_compute(n):
 return lambda x: x * n
result = func_compute(2)
print("Double the number of 15 =", result(15))
result = func_compute(3)
print("Triple the number of 15 =", result(15))
result = func_compute(4)
print("Quadruple the number of 15 =", result(15))
result = func_compute(5)
print("Quintuple the number 15 =", result(15))

Double the number of 15 = 30
Triple the number of 15 = 45
Quadruple the number of 15 = 60
Quintuple the number 15 = 75

In [6]:
def categorize_tickets(ticket_ids):
 adult_tickets = list(filter(lambda x: x % 2 == 0, ticket_ids))
 child_tickets = list(filter(lambda x: x % 2 != 0, ticket_ids))
 return adult_tickets, child_tickets
ticket_ids = [101, 202, 305, 410, 513, 620, 723, 830, 945, 1050]
# Categorize the tickets
adult_tickets, child_tickets = categorize_tickets(ticket_ids)
# Print the results
print("Adult Tickets:", adult_tickets)
print("Child Tickets:", child_tickets)

Adult Tickets: [202, 410, 620, 830, 1050]
Child Tickets: [101, 305, 513, 723, 945]